__pycache__/
.pytest_cache/
.vscode/

tmp/
build/

doc/latex/
!doc/latex/report.tex
!doc/latex/main.pdf

*.log
.aux .bit .blg .bbl .lof .log .lot .glo .glx .gxg .gxs .idx .ilg .ind .out .url .svn .toc


